<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       					   http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/tx 
       					   http://www.springframework.org/schema/tx/spring-tx.xsd
       					   http://www.springframework.org/schema/aop 
       					   http://www.springframework.org/schema/aop/spring-aop.xsd
       					   http://www.springframework.org/schema/context 
       					   http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="studentDao" class = "com.soft.dao.StudentDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 配置业务层的类 -->
	<bean id="studentService" class = "com.soft.service.StudentService">
		<property name = "studentDao" ref = "studentDao"/>
		<property name = "scoreDao" ref = "scoreDao"/>
		<property name = "courseDao" ref = "courseDao"/>
		<property name = "subjectDao" ref = "subjectDao"/>
		<property name = "studentCourseDao" ref = "studentCourseDao"/>
		<property name = "studentGroupDao" ref = "studentGroupDao"/>
		<property name = "courseGroupDao" ref = "courseGroupDao"/>
		<property name = "homeworkDao" ref = "homeworkDao"/>
	</bean>
	
	 <!-- 配置web层的类 -->
	<bean id="studentAction" class = "com.soft.action.StudentAction" scope ="prototype">
		<property name = "studentService" ref = "studentService"/>
		<property name = "teacherService" ref = "teacherService"/>
		<property name = "subjectService" ref = "subjectService"/>
		<property name = "homeworkService" ref = "homeworkService"/>
		<property name = "courseService" ref = "courseService"/>
		<property name = "groupService" ref = "groupService"/>
		
	</bean> 	
	
	
	
</beans>
